<div class="container">
  <div class="row">
    <div class="col-xl-12">


      <div style="padding: 50px 0;">

        <h1 class="text-center">Welcom to</h1>

        <p class="text-center"><%= image_tag 'Pets._logo_b.png', size: '500x240' %></p>
        <p class="text-center"><%= link_to "新規登録", new_user_registration_path, class: "text-info" %></p>
        <p class="text-center"><%= link_to "ログイン", new_user_session_path, class: "text-info" %></p>
        <p class="text-center"><%= link_to "ゲストログイン(閲覧用)", public_guest_sign_in_path, method: :post, class: "text-warning" %></p>
      </div>

    </div>
  </div>
</div>
