<div>
  <div>
    <div>

      <did>

        <div>
          <h1>ようこそ、Pets. へ</h1>
          <p>動物が好きな方、ペットを自慢したい方<br>
             ペットのおススメグッズやフードの紹介<br>
             飼い主同士でコミュニケーションを楽しみたい方<br>
             そんな方々にぴったりの動物好きさんオンリーのコミュニケーションサイトです！</p>
        </div>

        <div>
          <h4>新着記事</h1>
        </div>

      </did>

    </div>
  </div>
</div>