<div class="container">
  <div class="row">
    <div class="mx-auto col-xl-11">

      <div>
        <h2>ユーザー詳細</h2>
      </div>

      <table>
        <tr><th>会員ID</th><td><%= @user.id %></td></tr>
        <tr><th>ユーザーネーム</th><td><%= @user.name %></td></tr>
        <tr><th>メールアドレス</th><td><%= @user.email %></td></tr>
        <tr><th>会員ステータス</th><td>
          <% if @user.is_deleted %>
            <span>退会</span>
          <% else %>
            <span>有効</span>
          <% end %>
        </td></tr>
      </table>
      編集
      投稿一覧

    </div>
  </div>
</div>